.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.product-card:not(:last-child) {
  margin-right: 16px;
}

.product-card h3 {
  margin-top: 16px;
}

.product-card {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 8px 16px;
  width: 250px;
  transition: ease all .3s
}

.product-card:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.product-details {
  margin: 16px 0;
}

.product-details .detail-element {
  display: flex;
  justify-content: space-between;
}

.product-details .detail-element p {
  margin: 0;
}

.product-details .detail-element :first-child {
  font-weight: bold;
}

.section {
  margin: 64px 0;
}
