header {
    display: flex;
    align-items: center;
    padding: 0 60px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4)
}

header .logo-title {
    display: flex;
    align-items: center;
    flex: 1;
    text-align: left;
}

header .logo-title img {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

header li {
    display: inline;
    border-radius: 8px;
    border: solid 1px black;
    padding: 8px 16px;
    cursor: pointer;
    transition: ease all .3s;
}

header li:hover {
    background-color: black;
    color: white;
}

header li+li {
    margin-left: 16px;
}

p.author {
    font-style: italic;
}